@charset "ISO-8859-1";

#headermanu {
	display: table;
}
#headermanu div {
	display: inline-block;
	padding-right: 30px;
}
img {
	size: 25px;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: #87ebfa;
}
a:hover {
	color: 	#87cefa;
	text-decoration: underline;
	
}
a:active {
	color: red;
}
#headermanu a:link {
	font-size: larger;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	border-color:transparent; 
}
th,td {
	padding: 10px;
}
th {
	background: darkblue;
	color: cornsilk;
	font-size: larger;
}
table.from{
	border: none;
	padding: 4px;
	width: 60%;
	text-align: center;
}
.wholeloginpage{
	background-color: #191941;
	padding-bottom:30px;
}

table.login{
	border: none;
	padding: 4px;
	text-align: center;
	font-style: italic;
	
	
}
.loginpage {
	background-color: #7abfff;
	width: 600px;
	height: 200px;
	padding-top: 70px;
	margin-left: 450px;
}
.loginheading{
	text-align: center;
	background-color: #F0E68C;
	width:800px;
	margin-left:350px;
	padding-bottom: 5px;
	padding-top:5px;
}
.tabledata{
	background-color: #b3e0f2;
	padding-bottom: 50px;
	padding-top: 50px;
	font-style:italic;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}
.tabledataheading{
	background-color: #323256;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	width:50%;
	margin-left:370px;
}
.footer{
	color: white;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
button {
	border-radius: 00px;
	padding:3px;
	background-color:white;
	font-style:italic;
	font-weight:bold;
}
button[type=submit] {
	font-weight: bold;
	color: green;
}
button:hover {
	color: green;
}
input {
	border: 1px solid;
	border-radius: 4px;
	border-color: green;
	height: 25px;
}
.massage {
	font-style: italic;
	 color: #800000;
}
.error {
	color: red;
	margin: 5px;
	font-weight: bold;
	font-style: italic;
}
.errormsg {
	color: red;
	font-style: italic;
	
}
.booklistfrontend {
	display: inline-block;
	margin: 12px;
}
div.center {
	text-align: center;
}
div.book {
	display: inline-block;
	margin: 20px;
	text-align: center;
}
table.book {
	width: 80%;
	border: 0;
	margin: 0 auto;
}
table.normal {
	border: 0;
	margin: 0 auto;
}
div.book_group {
	width: 80%;
	margin: 0 auto;
}
div.next-row {
	clear: both;
}
img.book-small {
	width: 128px;
	height: 164px;

}